<mat-card appearance="raised">
  <mat-card-content class="box-card-content">
    <app-box [index]="1"></app-box>
    <app-box [index]="2"></app-box>
    <app-box [index]="3"></app-box>
    <app-box [index]="4"></app-box>
    <app-box [index]="5"></app-box>
    <app-box [index]="6"></app-box>
    <app-box [index]="7"></app-box>
    <app-box [index]="8"></app-box>
    <app-box [index]="9"></app-box>
    <app-box [index]="10"></app-box>
    <div class="delete-total">
      <button #deleteButton mat-mini-fab (click)="deleteBoxes()">
        <mat-icon>delete</mat-icon>
      </button>
      <div class="total">
        <div class="title">Total value:</div>
        <div class="result">{{total()}}</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
